# Byte-compiled / cache files
_pycache_/
*.py[cod]
*$py.class

# NLTK data (if manually downloaded and placed)
nltk_data/

# Virtual environment folders
venv/
env/
.venv/
ENV/

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor folders
.vscode/
.idea/
